@font-face {
  font-family: Godoqon;
  src: local("Godoqon"),
  url(../assets/fonts/godoqon.otf);
  font-weight: bold;
}

html {
  text-align: center;
}

h1 {
  font-family: Arial;
  font-style: italic;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none;
  }
}
