@font-face {
  font-family: Godoqon;
  src: local("Godoqon"),
  url(../assets/fonts/godoqon.otf);
  font-weight: bold;
}

@font-face {
  font-family: Aptos;
  src: local("Aptos"),
  url(../assets/fonts/aptos-serif.ttf);
}

h1 {
  font-family: Arial;
  font-style: italic;
}

.clickable-text {
  cursor: pointer;
}

.clickable-text:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }

  .main-image {
    max-width: 100%;
    margin-top: 14px;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }

  .main-image {
    max-width: 500px;
    margin-top: 30px;
  }
}
