.popup {
  position: absolute;
  background: #BFBFBF;
  width: 20%;
  min-width: 320px;
}

.popup:nth-child(1) {
  top: 30%;
  left: 30%;
}

.popup:nth-child(2) {
  top: 33%;
  left: 33%;
}

.popup:nth-child(3) {
  top: 36%;
  left: 36%;
}

.popup > p {
  padding: 10px 20px 0 20px;
  font-family: 'Aptos';
  min-height: 60px;
}

.top-bar {
  height: 20px;
  background: -moz-linear-gradient(left, #1b007d 18%, #0081d1 100%);
  background: -webkit-linear-gradient(left, #1b007d 18%,#0081d1 100%);
  background: linear-gradient(to right, #1b007d 18%,#0081d1 100%);
}

.border {
  border-top: 1px solid white;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid white;
}

.button-bar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px 10px;
}

.button-bar > button {
  cursor: pointer;
  margin-left: 8px;
}
